@import 'reset';

.container{
    width: 100%;
    max-width: rem(1273px);
    margin: 0 auto;
    padding: 0 rem(10px);
}

.title{
    font-size: rem(48px);
    letter-spacing: rem(1px);
    color: $font-color-black;
}

.main_screen{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(229, 229, 229);
    background: -moz-linear-gradient(90deg, rgba(229, 229, 229, 1) 7%, rgba(101, 189, 192, 1) 7%, rgba(229, 229, 229, 1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(229, 229, 229, 1) 7%, rgba(101, 189, 192, 1) 7%, rgba(229, 229, 229, 1) 80%);
    background: linear-gradient(90deg, rgba(229, 229, 229, 1) 7%, rgba(101, 189, 192, 1) 7%, rgba(229, 229, 229, 1) 80%);
    &-control_bar{
        position: relative;
        background-color: #65BDC0;
        width: 90%;
        max-width: rem(107px);
        text-align: center;
        padding: rem(36px) 0 rem(36px) 0;
        border-radius: rem(60px) 0 0 rem(60px);
    }
    &-logo{
        width: rem(69px);
        height: rem(69px);
        margin: 0 auto;
    }
    &-control-list{
        position: absolute;
        text-align: center;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-control-item{
        margin-bottom: rem(42px);

        &:hover a,
        &:active a,
        &:hover svg,
        &:active svg {
            color: $font-color-white;
        }

        &:last-child{
            margin-bottom: 0;
        }

        svg{
           width: rem(36px);
           height: rem(36px);
           margin-bottom: rem(14px);
           color: rgba($font-color-white, $alpha: .65);
        }

        a{
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            font-size: rem(15px);
            color: rgba($font-color-white, $alpha: .65);
        }
    }
    &-info_wrap{
        width: 100%;
        max-width: rem(1166px);
        background-color: $main-bgc;
        border-radius: rem(60px);
        padding: rem(36px) rem(87px) rem(31px) rem(65px);
    }
    &-info_inner {
        width: 100%;
        height: calc(100% - 74px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-control_panel{
        text-align: end;
        margin-bottom: rem(24px);
        button {
            a{
                color: rgba($font-color-black,  $alpha: .65);
            }
            &:hover a,
            &:active a {
                color: $font-color-black;
            }
        }
    }
}

@media screen and (max-height: 680px) {
    .main_screen{
        &-control-item {
            margin-bottom: rem(20px);
            svg {
                margin-bottom: rem(5px);
            }
        }
        &-info_wrap {
            padding: rem(36px) rem(40px) rem(31px) rem(36px);
        }
    }
}