@import 'reset';

.container{
    width: 100%;
    max-width: rem(1273px);
    margin: 0 auto;
    padding: 0 rem(10px);
}

.title{
    font-size: rem(48px);
    letter-spacing: rem(1px);
    color: $font-color-black;
}

.main_screen{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #65BDC0;
    border-radius: rem(60px);
    &-control_bar{
        position: relative;
        background-color: #65BDC0;
        width: 90%;
        max-width: rem(107px);
        text-align: center;
        padding: rem(36px) 0 rem(36px) 0;
        border-radius: rem(60px) 0 0 rem(60px);
    }
    &-logo{
        width: rem(69px);
        height: rem(69px);
        margin: 0 auto;
    }
    &-control-list{
        position: absolute;
        text-align: center;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-control-item{
        margin-bottom: rem(42px);

        &:hover a,
        &:active a,
        &:hover svg,
        &:active svg {
            color: $font-color-white;
        }

        &:last-child{
            margin-bottom: 0;
        }

        svg{
           width: rem(36px);
           height: rem(36px);
           margin-bottom: rem(14px);
           color: rgba($font-color-white, $alpha: .65);
        }

        a{
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            font-size: rem(15px);
            color: rgba($font-color-white, $alpha: .65);
        }
    }
    &-info_wrap{
        width: 100%;
        max-width: rem(1166px);
        background-color: $main-bgc;
        border-radius: rem(60px);
        padding: rem(36px) rem(87px) rem(31px) rem(65px);
    }
    &-info_inner {
        width: 100%;
        height: calc(100% - 74px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-control_panel{
        text-align: end;
        margin-bottom: rem(24px);
        button {
            a{
                color: rgba($font-color-black,  $alpha: .65);
            }
            &:hover a,
            &:active a {
                color: $font-color-black;
            }
        }
    }
}

@media screen and (max-height: 630px) {
    .main_screen{
        &-control-item {
            margin-bottom: rem(20px);
            svg {
                margin-bottom: rem(5px);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .main_screen {
        &-info_wrap {
            padding: rem(36px) rem(55px) rem(31px) rem(55px);
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0;
    }
    .main_screen {
        flex-direction: column-reverse;
        border-radius: 0;
        &-logo {
            width: rem(56px);
            height: rem(56px);
        }
        &-control_bar {
            position: fixed;
            width: 100%;
            max-width: inherit;
            border-radius: 0;
            padding: rem(10px) rem(20px);
            bottom: 0;
            z-index: 100;
            box-shadow: 0 -10px 20px 1px #fff;
        }
        &-control-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            top: 50%;
            z-index: -1;
        }
        &-control-item{
            margin: 0 rem(5px);
            &:nth-child(2) {
                margin-right: 35px;
            }
            &:nth-child(3) {
                margin-left: 35px;
            }
            svg {
                width: rem(50px);
                height: rem(50px);
                margin-bottom: 0;
            }
            div {
                display: none;
            }
        }
        &-info_wrap{
            border-radius: 0;
            padding: rem(36px) rem(20px) rem(121px) rem(20px);
        }
    }
}

@media screen and (max-width: 400px) {
    .main_screen {
        &-logo {
            width: rem(50px);
            height: rem(50px);
        }
        &-control-item{
            svg {
                width: rem(40px);
                height: rem(40px);
            }
        }
    }
}