@import 'reset';

.members {
    position: relative;
    width: 100%;
    max-width: rem(1014px);
    &::before {
        content: '';
        position: absolute;
        display: block;
        height: rem(20px);
        width: 100%;
        top: rem(55px);
        left: 0;
        background: rgb(255,255,255);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: rem(20px);
        width: 100%;
        bottom: rem(-0.5px);
        left: 0;
        background: rgb(255,255,255);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    }

    &_title {
        font-size: rem(48px);
        color: $font-color-black;
        font-weight: 400;
    }

    &_cards-list_wrap {
        width: 100%;
        height: 100%;
        max-height: rem(550px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_cards-list {
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        -webkit-column-gap: rem(46px);
           -moz-column-gap: rem(46px);
                column-gap: rem(46px);
        row-gap: rem(34px);
        padding: rem(28px) rem(5px);
    }

    &_card {
        height: 100%;
        width: 100%;
        max-width: rem(252px);
        border-radius: rem(41px);
        -webkit-box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
                box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
        &-avatar {
            margin-bottom: rem(15px);

            svg {
                width: rem(87px);
                height: rem(87px);
            }
        }
        &:nth-child(6n+1){
            .members_card-inner--upper {
                background-color: $button-color-red;

            }
        }
        &:nth-child(6n+2){
            .members_card-inner--upper {
                background-color: $button-color-green;

            }
        }
        &:nth-child(6n+3){
            .members_card-inner--upper {
                background-color: $button-color-blue;

            }
        }
        &:nth-child(6n+4){
            .members_card-inner--upper {
                background-color: $button-color-blue;

            }
        }
        &:nth-child(6n+5){
            .members_card-inner--upper {
                background-color: $button-color-red;

            }
        }
        &:nth-child(6n+6){
            .members_card-inner--upper {
                background-color: $button-color-green;

            }
        }
        &-inner--upper {
            height: 66%;
            border-radius: rem(41px) rem(41px) 0 0;
            padding-top: rem(37px);
            padding-bottom: rem(12px);
            color: $font-color-white;
            text-align: center;
        }

        &-name {
            font-size: rem(24px);
            margin-bottom: rem(7px);
            padding: 0 rem(5px);
        }

        &-owner {
            font-size: rem(15px);
            margin-bottom: rem(10px);
        }

        &-inner--lower {
            height: 34%;
            background-color: #FFF5F5;
            border-radius: 0 0 rem(41px) rem(41px);
            padding: rem(24px) 0 rem(30px) rem(24px);
            color: rgba($font-color-black, $alpha: .75);
        }

        &-empty {
            height: rem(314px);
            border: rem(4px) dashed #f4f4f4;
            -webkit-box-shadow: none;
                    box-shadow: none;
            text-align: center;
        }
    }

    &_owner-status {
        margin-bottom: rem(13px);
        font-size: rem(16px);
    }

    &_room {
        font-size: rem(16px);
    }

}

@media screen and (max-width: rem(1199px)) {
    .members {
        &_cards-list {
            grid-template-columns: repeat(2, 1fr);
        }
        &_card {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: rem(767px)) {
    .members {
        &::before,
        &::after {
            display: none;
        }
        &_cards-list_wrap {
            overflow: inherit;
            max-height: inherit;
        }
        &_cards-list {
            padding: rem(28px) rem(5px) 0;
        }
    }
}

@media screen and (max-width: rem(600px)) {
    .members {
        &_cards-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}