@import 'reset';

.rooms {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .room {
        width: 75.73%;
        max-width: rem(768px);
    }

    &_title {
        margin-bottom: rem(28px);
    }

    &_status-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(35px);
        flex-wrap: wrap;

        &-item {
            box-shadow: 0 rem(4px) rem(35px) rgba(0, 0, 0, 0.14);
            border-radius: rem(30px);
            padding: rem(13px) rem(20px) rem(15px) rem(13px);
            display: flex;
            justify-content: space-between;
            width: 28.81%;

            &.biger {
                width: 35.26%;
            }
        }
    }

    &_status-value {
        font-size: rem(36px);
        margin-right: rem(5px);
        div:nth-child(1){
            color: rgba($color: $font-color-black, $alpha: .63);
            max-width: rem(100px);
            font-size: rem(15px);
            margin-bottom: 16px;
        }
        div {
            color: rgba($color: $font-color-black, $alpha: .75);
        }
    }
    &_status-celsius {
        span {
            font-size: rem(22px);
        }
    }
    &_status-fahrenheit {
        margin-left: rem(26px);
        span {
            font-size: rem(22px);
        }
    }

    &_parameter-scale {
        min-width: rem(45px);
        width: rem(76px);
        height: rem(176px);
        border-radius: rem(25px);
        position: relative;
        color: $font-color-black;
        &.temperature {
            background-color: #FFE6E6;
        }

        &.humidity {
            background-color: rgba(202, 238, 239, 0.51);
        }

        &.lightning {
            background-color: rgba(197, 202, 227, 0.71);

        }

        &_inner {
            width: 100%;

            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0 0 rem(25px) rem(25px);

            &.temperature {
                background-color: $button-color-red;
            }

            &.humidity {
                background-color: $button-color-green;
            }

            &.lightning {
                background-color: $button-color-blue;
            }
        }

        svg {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_devices {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: rem(25px);
            width: 101%;
            top: rem(27px);
            left: rem(-3px);
            background: rgb(255,255,255);
            background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f5",endColorstr="#fff5f5",GradientType=1);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: rem(25px);
            width: 101%;
            bottom: 0;
            left: rem(-3px);
            background: rgb(255,255,255);
            background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f5",endColorstr="#fff5f5",GradientType=1);
        }
        &-title {
            margin-bottom: rem(7px);
            font-size: rem(24px);
            color: rgba($color: $font-color-black, $alpha: .75);
        }
        &-wrap {
            max-height: rem(360px);
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &-list {
            padding: rem(20px) 0 rem(30px);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: rem(36px);
            row-gap: rem(27px);
            &-item {
                width: 100%;
                height: rem(131px);
                border-radius: rem(20px);
                color: $font-color-white;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all .2s;

                svg {
                    margin-bottom: rem(13px);
                }

                div {
                    font-size: rem(19px);
                }
                &:nth-child(3n+1){
                    background-color: $button-color-red;

                    &:hover {
                        background-color: darken($color: $button-color-red, $amount: 10);
                    }
                }
                &:nth-child(3n+2){
                    background-color: $button-color-green;

                    &:hover {
                        background-color: darken($color: $button-color-green, $amount: 10);
                    }
                }
                &:nth-child(3n+3){
                    background-color: $button-color-blue;

                    &:hover {
                        background-color: lighten($color: $button-color-blue, $amount: 10);
                    }
                }
            }
        }
    }

    &_selectors {
        width: 17.85%;

        &_list {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            gap: rem(29px);
            &-item {
                &:nth-child(3)svg{
                    margin-top: rem(10px);
                    margin-bottom: rem(24px);
                }
                button {
                    width: 100%;
                    height: rem(153px);
                    text-align: center;
                    background: #FFFFFF;
                    box-shadow: 0 rem(4px) rem(36px) rgba(0, 0, 0, 0.18);
                    border-radius: rem(30px);
                    transition: all .2s;
                    color: #c1c1c1;
                    border: none;
                    cursor: pointer;
                    svg {
                        margin-bottom: rem(18px);
                    }
                    div {
                        font-size: rem(19px);
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: 0 rem(4px) rem(15px) rgba(238, 119, 127, 0.31);
                            color: rgba(238, 119, 127, 0.31);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: rem(1199px)) {
    .rooms {
        &_devices {
            &-list {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: rem(1100px)) {
    .rooms {
        &_status-value {
            font-size: rem(30px);
        }
        &_status-celsius {
            span {
                font-size: rem(18px);
            }
        }
        &_status-fahrenheit {
            span {
                font-size: rem(18px);
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .rooms {
        flex-direction: column-reverse;
        .room {
            width: 100%;
        }
        &_selectors {
            width: 100%;
            margin-bottom: rem(20px);
            &_list {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media screen and (max-width: rem(870px)) {
    .rooms {
        &_selectors {
            &_list {
                gap: rem(15px);
                &-item {
                    button {
                        height: rem(125px);
                        div {
                            font-size: rem(16px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: rem(767px)) {
    .rooms {
        &_selectors {
            &_list {
                &-item {
                    button {
                        height: rem(140px);
                        div {
                            font-size: rem(18px);
                        }
                    }
                }
            }
        }
        &_devices {
            &::before,
            &::after {
                display: none;
            }
            &-wrap {
                max-height: inherit;
                overflow: inherit;
            }
            &-list {
                padding: rem(20px) 0 0;
            }
        }
    }
}

@media screen and (max-width: rem(650px)) {
    .rooms {
        &_selectors {
            &_list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &_status-list {
            flex-direction: column;
            &-item {
                justify-content: space-evenly;
                max-width: rem(450px);
                width: 100%;
                margin: 0 auto rem(20px);
                &.biger {
                    width: 100%;
                }
            }
        }
        &_status-value {
            font-size: rem(48px);
            margin-right: rem(10px);
            div:nth-child(1){
                max-width: inherit;
                font-size: rem(20px);
            }
        }
        &_status-celsius {
            span {
                font-size: rem(34px);
            }
        }
        &_status-fahrenheit {
            span {
                font-size: rem(34px);
            }
        }
        &_devices {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}