@import 'reset';

.rooms {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .room {
        width: calc(75.73%);
        max-width: 768px;
    }

    &_title {
        margin-bottom: 28px;
    }

    &_status-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 35px;

        &-item {
            box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
            border-radius: 30px;
            padding: 13px 20px 15px 13px;
            display: flex;
            justify-content: space-between;
            width: calc(28.81%);

            &.biger {
                width: calc(35.26%);
            }
        }
    }

    &_status-value {
        font-size: rem(36px);
        div:nth-child(1){
            color: rgba($color: $font-color-black, $alpha: .63);
            max-width: rem(100px);
            font-size: rem(15px);
            margin-bottom: 16px;
        }
        div {
            color: rgba($color: $font-color-black, $alpha: .75);
        }
    }
    &_status-celsius {
        span {
            font-size: rem(22px);
        }
    }
    &_status-fahrenheit {
        margin-left: 26px;
        span {
            font-size: rem(22px);
        }
    }

    &_parameter-scale {
        width: 76px;
        height: 176px;
        border-radius: 25px;
        position: relative;
        color: $font-color-black;
        &.temperature {
            background-color: #FFE6E6;
        }

        &.humidity {
            background-color: rgba(202, 238, 239, 0.51);
        }

        &.lightning {
            background-color: rgba(197, 202, 227, 0.71);

        }

        &_inner {
            width: 100%;

            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0 0 25px 25px;

            &.temperature {
                background-color: $button-color-red;                
            }

            &.humidity {
                background-color: $button-color-green;                
            }

            &.lightning {
                background-color: $button-color-blue;                
            }
        }

        svg {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_devices {
        &-title {
            margin-bottom: rem(27px);
            font-size: rem(24px);
            color: rgba($color: $font-color-black, $alpha: .75);
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: rem(36px);
            row-gap: rem(27px);

            &-item {
                width: 100%;
                height: rem(131px);
                border-radius: rem(20px);
                color: $font-color-white;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all .2s;

                svg {
                    margin-bottom: 13px;
                }

                div {
                    font-size: rem(19px);
                }
                &:nth-child(3n+1){
                    background-color: $button-color-red;

                    &:hover {
                        background-color: darken($color: $button-color-red, $amount: 10);
                    }
                }
                &:nth-child(3n+2){
                    background-color: $button-color-green;

                    &:hover {
                        background-color: darken($color: $button-color-green, $amount: 10);
                    }
                }
                &:nth-child(3n+3){
                    background-color: $button-color-blue;

                    &:hover {
                        background-color: lighten($color: $button-color-blue, $amount: 10);
                    }
                }
            }
        }
    }

    &_selectors {
        width: calc(17.85%);

        &_list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-item {
                margin-bottom: 29px;
                &:last-child {
                    margin-bottom: 0;
                }
                button {
                    width: 100%;
                    height: 153px;
                    text-align: center;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.18);
                    border-radius: 30px;
                    transition: all .2s;
                    color: #c1c1c1;
                    border: none;
                    cursor: pointer;
                    svg {
                        margin-bottom: 18px;
                    }
                    div {
                        font-size: 19px;
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: 0px 4px 15px rgba(238, 119, 127, 0.31);
                            color: rgba(238, 119, 127, 0.31);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .rooms {
        &_devices {
            &-list {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .rooms {
        &_devices {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}