@import 'reset';

.statistics {
    width: 100%;

    &_title {
        margin-bottom: 29px;
    }

    &_list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        gap: rem(30px);
        height: 100%;

        &-item {
            //общая обёртка с для графиков
            height: 100%;
            width: 100%;
            grid-column: span 2;

            &:nth-last-child(1) {
                grid-column: span 1;
            }
            &:nth-last-child(2) {
                grid-column: span 1;
            }
        }

        &-item_title {
            font-size: rem(24px);
            margin-bottom: 18px;
            color: $font-color-black;
        }
    }

    &_graph {
        //это само поле графика
        height: calc(100% - 47px);
        width: 100%;
        // max-width: 492px;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
        border-radius: 30px;
        background-color: $font-color-white;
    }

    &_circle-container {
        padding: 12px;
    }

    &_sorting-diagramma {
        width: 117px;
        height: 117px;
        margin: 0 auto 13px;
        border: 2px solid $font-color-black;
        border-radius: 50%;
    }

    &_sorting-materials {
        &-item {
            margin-bottom: 11px;
            margin-left: 50%;
            transform: translateX(-50%);

            &:last-child {
                margin-bottom: 0;
            }

            .material-color {
                display: inline-block;
                width: 17px;
                height: 17px;
                background-color: #65BDC0;
                border-radius: 50%;
                margin-right: 13px;
            }

            .mateial-name {
                font-size: rem(17px);
                color: $font-color-black;
            }
        }
    }

    &_circle-graph {
        //контейнер с круговой диаграммой
        max-width: 211px;
        margin-right: 30px;
        height: 100%;
        width: 100%;

        &-date {
            color: $font-color-grey;
            font-size: rem(9px);
        }
    }

    &_controls-center {
        //контейнер с кнопками
        position: relative;
        height: 100%;
        // max-width: 251px;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 25px;
            width: 100%;
            top: 47px;
            left: 0;
            border-radius: 30px 30px 0 0;
            background: rgb(255,245,245);
            background: -moz-linear-gradient(180deg, rgba(255,245,245,1) 0%, rgba(255,245,245,1) 60%, rgba(255,245,245,0) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,245,245,1) 0%, rgba(255,245,245,1) 60%, rgba(255,245,245,0) 100%);
            background: linear-gradient(180deg, rgba(255,245,245,1) 0%, rgba(255,245,245,1) 60%, rgba(255,245,245,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f5",endColorstr="#fff5f5",GradientType=1);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 25px;
            width: 100%;
            bottom: rem(8px);
            bottom: 0;
            left: 0;
            border-radius: 0 0 30px 30px;
            background: rgb(255,245,245);
            background: -moz-linear-gradient(180deg, rgba(255,245,245,0) 0%, rgba(255,245,245,1) 40%, rgba(255,245,245,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,245,245,0) 0%, rgba(255,245,245,1) 40%, rgba(255,245,245,1) 100%);
            background: linear-gradient(180deg, rgba(255,245,245,0) 0%, rgba(255,245,245,1) 40%, rgba(255,245,245,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f5",endColorstr="#fff5f5",GradientType=1);
        }

    }
    &_controls {
        height: 100%;
        max-height: 258px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &_devices {
        padding: 26px 10px 28px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 17px;
        column-gap: 9px;
        justify-content: center;
        align-items: center;
        color: $font-color-white;
        &-device-wrap {
            text-align: center;
            &:nth-child(6n+1) button{
                background-color: $button-color-blue;

                &:hover {
                    background-color: lighten($color: $button-color-blue, $amount: 10);
                }
            }
            &:nth-child(6n+2) button {
                background-color: $button-color-red;

                &:hover {
                    background-color: darken($color: $button-color-red, $amount: 10);
                }
            }
            &:nth-child(6n+3) button{
                background-color: $button-color-green;

                &:hover {
                    background-color: darken($color: $button-color-green, $amount: 10);
                }
            }
            &:nth-child(6n+4) button {
                background-color: $button-color-red;

                &:hover {
                    background-color: darken($color: $button-color-red, $amount: 10);
                }
            }
            &:nth-child(6n+5) button{
                background-color: $button-color-green;

                &:hover {
                    background-color: darken($color: $button-color-green, $amount: 10);
                }
            }
            &:nth-child(6n+6) button{
                background-color: $button-color-blue;

                &:hover {
                    background-color: lighten($color: $button-color-blue, $amount: 10);
                }
            }
            div {
                font-size: rem(12px);
                color: $font-color-grey;
            }
        }

        &-btn {
            width: 71px;
            height: 71px;
            border-radius: 18px;
            border: none;
            outline: none;
            margin-bottom: 4px;
        }
    }
}

@media screen and (max-width: 1240px) {
    .statistics {
        &_list {
            grid-template-columns: repeat(3, 1fr);
            &-item {
                grid-column: span 3;
    
                &:nth-last-child(1) {
                    grid-column: span 2;
                }
            }
        }
        &_devices {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

@media screen and (max-width: 1050px) {
    .statistics {
        &_devices {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 900px) {
    .statistics {
        &_list {
            grid-template-columns: repeat(2, 1fr);
            &-item {
                grid-column: span 2;
    
                &:nth-last-child(1) {
                    grid-column: span 1;
                }
            }
        }
        &_devices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 767px) {
    .statistics {
        &_list {
            grid-template-columns: repeat(1, 1fr);
            // grid-auto-rows: inherit;
            &-item {
                grid-column: span 1;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .statistics {
        &_devices {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}