@import 'reset';

.utility_billing {
    width: 100%;

    &_title {
        margin-bottom: rem(18px);
    }

    &-title {
        font-size: rem(24px);
        margin-bottom: rem(16px);
    }

    &-invoice_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            margin-bottom: rem(51px);

            &:last-child {
                margin-bottom: 0;
            }

            &.history {
                width: 67.75%;
                max-width: rem(687px);
            }

            &.current {
                width: 28.10%;
            }

            &.chart {
                width: 100%;
            }
        }
    }

    &-invoice_screen {
        background: #FFF5F5;
        box-shadow: 0 rem(4px) rem(35px) rgba(0, 0, 0, 0.14);
        border-radius: rem(30px);
        width: 100%;
        max-height: rem(291px);

        &.chart_screen {
            height: rem(258px);
        }
    }

    &-payment_card {
        padding: rem(25px) rem(19px) rem(25px) rem(25px);

        &.top {
            border-bottom: rem(1px) solid rgba($color: #000000, $alpha: .14);
            padding-bottom: 0;
        }

        &.bottom {
            padding-top: rem(19px);
            text-align: center;
        }

        &-inner {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(19px);

            span {
                &:first-child {
                    color: rgba($color: $font-color-black, $alpha: .51);
                }
            }
        }

        &-tax,
        &-total {
            text-align: end;
            margin-bottom: rem(10px);

            span {
                &:first-child {
                    color: rgba($color: $font-color-black, $alpha: .51);
                    margin-right: rem(29px);
                }
            }
        }

        &-total {
            margin-bottom: rem(25px);
        }

        button {
            width: rem(104px);
            height: rem(35px);
            border: none;
            border-radius: rem(21px);
            color: $font-color-white;
            background-color: $button-color-red;
            font-size: rem(18px);
            cursor: pointer;
            transition: all .2s;
            outline: none;

            &:hover {
                background-color: $button-color-green;
            }

            &:focus {
                background-color: $button-color-green;
            }
        }
    }

    .title_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .markers_list {
        &-item {
            display: inline-block;
            margin-right: rem(30px);

            .marker_circle {
                display: inline-block;
                width: rem(22px);
                height: rem(22px);
                border-radius: 50%;
                margin-right: rem(13px);

                &.red {
                    background-color: $button-color-red;
                }

                &.blue {
                    background-color: $button-color-blue;
                }

                &.green {
                    background-color: $button-color-green;
                }
            }

            .marker_description {
                font-size: rem(19px);
                line-height: rem(22px);
                vertical-align: top;
                color: $font-color-grey;
            }
        }
    }

}

table {
    width: 100%;
    border-radius: rem(30px);
    text-align: center;
    padding: 0 rem(41px) 0 rem(33px);
    border-collapse: collapse;

    th {
        color: rgba($color: $font-color-black, $alpha: .47);
        font-size: rem(13px);
        padding: rem(14px) 0 rem(14px);
    }

    td {
        font-size: rem(13px);
        line-height: rem(28px);
        padding-bottom: rem(23px);
        color: rgba($color: $font-color-black, $alpha: .71);
        &.status {
            span {
                width: rem(71px);
                height: rem(24px);
                border-radius: rem(16px);
                display: inline-block;
                line-height: rem(24px);

                &.unpaid {
                    background-color: rgba($color: #ee777f, $alpha: .46);
                }

                &.paid {
                    background-color: rgba($color: #65bdc0, $alpha: .51);
                }
            }
        }
    }
}