@import 'reset';

.utility_billing {
    width: 100%;

    &_title {
        margin-bottom: rem(18px);
    }

    &-title {
        width: 100%;
        font-size: rem(24px);
        margin-bottom: rem(16px);
        margin-right: rem(10px);
    }

    &-invoice_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .history {
            width: 67.75%;
            max-width: rem(687px);
        }

        .current {
            width: 28.10%;
            .utility_billing-invoice_screen {
                display: flex;
                flex-direction: column;
                align-items: space-between;
                justify-content: space-between;
            }
        }

        .chart {
            width: 100%;
        }

        &-item {
            margin-bottom: rem(51px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-invoice_screen {
        background: #FFF5F5;
        box-shadow: 0 rem(4px) rem(35px) rgba(0, 0, 0, 0.14);
        border-radius: rem(30px);
        width: 100%;

        &.chart_screen {
            height: rem(258px);
            display: inherit;
        }
    }

    &-payment_card {
        padding: rem(25px) rem(19px) rem(25px) rem(25px);

        &.top {
            border-bottom: rem(1px) solid rgba($color: #000000, $alpha: .14);
            padding-bottom: 0;
        }

        &.bottom {
            padding-top: rem(19px);
            text-align: center;
        }

        &-inner {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(19px);

            span {
                &:first-child {
                    color: rgba($color: $font-color-black, $alpha: .51);
                }
            }
        }

        &-tax,
        &-total {
            text-align: end;
            margin-bottom: rem(10px);

            span {
                &:first-child {
                    color: rgba($color: $font-color-black, $alpha: .51);
                    margin-right: rem(29px);
                }
            }
        }

        &-total {
            margin-bottom: rem(25px);
        }

        button {
            width: rem(104px);
            height: rem(35px);
            border: none;
            border-radius: rem(21px);
            color: $font-color-white;
            background-color: $button-color-red;
            font-size: rem(18px);
            cursor: pointer;
            transition: all .2s;
            outline: none;

            &:hover {
                background-color: $button-color-green;
            }

            &:focus {
                background-color: $button-color-green;
            }
        }
    }

    .title_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .markers_list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: rem(10px);
        }

        .marker_circle {
            display: inline-block;
            width: rem(22px);
            height: rem(22px);
            border-radius: 50%;
            margin-right: rem(13px);

            &.red {
                background-color: $button-color-red;
            }

            &.blue {
                background-color: $button-color-blue;
            }

            &.green {
                background-color: $button-color-green;
            }
        }

        .marker_description {
            font-size: rem(19px);
            line-height: rem(22px);
            vertical-align: top;
            color: $font-color-grey;
        }
    }

}

table {
    width: 100%;
    border-radius: rem(30px);
    text-align: center;
    padding: 0 rem(41px) 0 rem(33px);
    border-collapse: collapse;

    th {
        color: rgba($color: $font-color-black, $alpha: .47);
        font-size: rem(13px);
        padding: rem(14px) 0 rem(14px);
    }

    td {
        font-size: rem(13px);
        line-height: rem(28px);
        padding-bottom: rem(23px);
        color: rgba($color: $font-color-black, $alpha: .71);
        &.status {
            span {
                width: rem(71px);
                height: rem(24px);
                border-radius: rem(16px);
                display: inline-block;
                line-height: rem(24px);

                &.unpaid {
                    background-color: rgba($color: #ee777f, $alpha: .46);
                }

                &.paid {
                    background-color: rgba($color: #65bdc0, $alpha: .51);
                }
            }
        }
    }
}

@media screen and (max-width: rem(1050px)) {
    .utility_billing {
        &-invoice_list {
            .history {
                    width: 100%;
                    max-width: inherit;
            }
            .current {
                max-width: rem(500px);
                    width: 100%;
                    .utility_billing-invoice_screen {
                        flex-direction: row;
                    }
            }
        }

        &-payment_card {
        padding: rem(10px) rem(15px);

            &.top {
                width: 60%;
                border-bottom: none;
                border-right: rem(1px) solid rgba($color: #000000, $alpha: .14);
                padding-bottom: rem(10px);
            }

            &.bottom {
                width: 40%;
                padding-top: rem(10px);
            }

            &-inner {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(19px);
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-tax,
            &-total {
                width: 100%;
                // text-align: inherit;
                margin-bottom: rem(10px);
            }

            &-total {
                margin-bottom: rem(15px);
            }
        }
    }
}

@media screen and (max-width: rem(600px)) {
    .utility_billing {
        .markers_list {
            .marker_circle {
                width: rem(18px);
                height: rem(18px);
                margin-right: rem(8px);
            }
            .marker_description {
                font-size: rem(16px);
            }
        }
    }
}

@media screen and (max-width: rem(500px)) {
    .utility_billing {
        &-invoice_list {
            .current {
                    .utility_billing-invoice_screen {
                        flex-direction: column;
                    }
            }
        }
        &-payment_card {
            padding: rem(25px) rem(19px) rem(25px) rem(25px);
            &.top {
                width: 100%;
                border-bottom: rem(1px) solid rgba($color: #000000, $alpha: .14);
                border-right: none;
                padding-bottom: 0;
            }
            &.bottom {
                width: 100%;
                padding-top: rem(19px);
            }
            &-inner {
                margin-bottom: rem(19px);
                &:last-child {
                    margin-bottom: rem(19px);
                }
            }
            &-tax,
            &-total {
                text-align: end;
            }
            &-total {
                margin-bottom: rem(25px);
            }
        }
    }
}